<h2>Template: <small>Switches</small></h2>
<hr />

<form #miFormulario="ngForm">
  <!-- Radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Genero</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="flexRadioDefault"
          id="radioMasculino"
          value="M"
          [(ngModel)]="persona.genero"
          required
        />
        <label class="form-check-label" for="radioMasculino">Masculino</label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="flexRadioDefault"
          id="radioFemenino"
          value="F"
          [(ngModel)]="persona.genero"
          required
        />
        <label class="form-check-label" for="radioFemenino">Femenino</label>
      </div>
    </div>
  </div>

  <!-- switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          name="notificaciones"
          [(ngModel)]="persona.notificaciones"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!-- checkbox -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          name="terminos"
          [(ngModel)]="terminosYCondiciones"
          required
        />
        <label class="form-check-label" for="flexCheckDefault">
          Terminos y condiciones
        </label>
      </div>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br />
<h5>Persona</h5>
<pre>{{ persona | json }}</pre>
<br />
<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
<br />
<h5>Terminos y condiciones</h5>
<pre>{{ miFormulario.controls["terminos"]?.errors | json }}</pre>
<br />
<pre>Condiciones: </pre>
